.presentation-carousel {
	padding-top: 1em;
	padding-bottom: 6em;

	img {
		width: 100%;
		height: 100%;
		border: 1px solid #007bff !important;
		box-shadow: 0 0 20px #007bff !important;
	}
}

.parallax-carousel {
	border-color: #007bff;
	box-shadow: 0 0 10px #007bff;
}

.presentation {
	position: relative;

	#{&}-paper {
		margin: 5em 0;
	}

	#{&}-cards {
		padding: 2em 0;
		margin: 5em 0;
		border-color: #007bff;
		box-shadow: 0 0 20px #007bff;
	}

	#{&}-card {
		min-height: 600px;
	}
}

.embla-slide {
	height: 250px !important;
	width: 500px !important;
	outline: none !important;
}
