.header {
	z-index: 2;
	width: 100vw;
  	height: 100vh;
	color: gainsboro;
	background-color: transparent;

	#{&}-typo {
		font-family: 'Cinzel Decorative', cursive;
		color: gainsboro;
		text-transform: uppercase;
		text-align: center;
		font-size: 80px;
		text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
		margin: 0.7em 0;
		user-select: none;
	}

	#{&}-buttons {
		button {
			margin: 0.5em;
			border-width: 0.25em;
			box-shadow: 0.15rem 0.3rem currentColor;

			&:hover {
				box-shadow: 0.3rem 0.5rem currentColor;
			}
		}
	}

	&::before {
		z-index: -2;
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: whitesmoke;
	}
}

